#main-container {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.w1064 {
  margin: 0px auto;
  padding: 0em 2.0em;
  max-width: 107.4em;
  min-width: 96.0em;
  width: 100%;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media screen and (max-width: 768px) {
  .w1064 {
    max-width: 100%;
    min-width: 0em;
    width: 100%;
  }

  .back { display: none; }
}

@media screen and (max-width: 320px) {
  .w1064 { min-width: 0px; }
}
