<div id="main">
  <div id="main_left">
    <div id="commercials_link" onclick="location.href='/admin/commercials';">
    </div>
  </div>
  <div id="main_right">
    <div id="underwear_link">
    </div>
  </div>
  <div id="japanese_outer">
    <div id="japanese_inner">
    </div>
  </div>

  <div id="contact_outer">
    <div id="contact_inner" onmouseover="showEmail()">
    </div>
    <div id="contact_inner_text">
    <a href="mailto:harold.einstein@mac.com">
      <%= image_tag "harold_email.png" %>
    </a>
    </div>
  </div>
</div>
<div id="loading_outer">
  <div id="loading_inner">
    <div id="loading_bar">
    </div>
  </div>
</div>
