<div id="japanese-outer">
  <div id="japanese-inner">
  </div>
</div>

<div id="main-outer">
  <div class="mobile">
    <div id="commercials-link" onclick="location.href='/commercials';">
      <div class="dumb-background-image"></div>
    </div>
    <div id="underwear_link" onclick="location.href='/underwear';">
      <div class="dumb-background-image"></div>
    </div>
  </div>
  <div class="desktop">
    <div id="main-left">
      <div id="commercials-link" onclick="location.href='/commercials';">
        <div class="dumb-background-image"></div>
      </div>
    </div>
    <div id="main-right">
      <div id="underwear_link" onclick="location.href='/underwear';">
        <div class="dumb-background-image"></div>
      </div>
    </div>
  </div>
</div>

<div id="contact-outer">
  <div id="contact-inner" onmouseover="showEmail()">
  </div>
  <div id="contact-inner-text">
<!-- <a href="mailto:harold.einstein@mac.com">harold.einstein@mac.com</a> -->
  <a href="mailto:harold.einstein@mac.com">
    <%= image_tag "harold_email.png" %>
  </a>
  </div>
</div>

<div id="loading-outer">
  <div id="loading-inner">
    <div id="loading-bar">
    </div>
  </div>
</div>
