body {
  margin: 0px;
  padding: 0px;
  background: #000000;
  font-family: Arial;
}

.hidden-images img {
  display: none;
}

div#main {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 450px;
}

div#meta_black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  color: #000000;
  z-index: 100;
}

div#main_left {
  position: relative;
  display: inline;
  width: 50%;
  height: 100%;
  float: left;
  min-height: 400px;
}

div#main_right {
  position: relative;
  display: inline;
  width: 50%;
  height: 100%;
  float: left;
  min-height: 400px;
}

div#commercials_link {
  position: absolute;
  right: 0px;
  top: 50%;
  height: 50px;
  width: 280px;
  margin: -25px 0px 0px 0px;
  cursor:pointer;
  background-image: url(image_path('commercials_b_off.png'));
}

div#commercials_link:hover {
  background-image: url(image_path('commercials_b_on.png'));
}

div#underwear_link {
  position: absolute;
  left: 0px;
  top: 50%;
  height: 50px;
  width: 280px;
  margin: -25px 0px 0px 0px;
  cursor:pointer;
  background-image: url(image_path('underwear_b_off.png'));
}

div#underwear_link:hover {
  background-image: url(image_path('underwear_b_on.png'));
}

div#japanese_outer {
  position: absolute;
  width: 100%;
  height: 150px;
  top: 0px;
  left: 0px;
  min-width: inherit;
}

div#japanese_inner {
  position: absolute;
  top: 25px;
  right: 20px;
  height: 47px;
  width: 233px;
  background-image: url(image_path('japanese2.png'));
}

div#contact_outer {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 310px;
  min-height: inherit;
}

div#contact_inner {
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 180px;
  width: 95px;
  background-color: #000000;
  background-image: url(image_path('contact_off.jpg'));
}

div#contact_inner_text {
  position: absolute;
  bottom: 120px;
  left: 125px;
  height: 25px;
  width: 150px;
  background-color: #000000;
   display: none;
  cursor:pointer;
}

div#contact_inner_text a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
}

div#back_outer {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 150px;
  min-height: inherit;
}

div#back_inner {
  position: absolute;
  bottom: 0px;
  right: 20px;
  height: 100px;
  width: 100px;
  background-image: url(image_path('back_off.jpg'));
}

div#back_inner:hover {
  background-image: url(image_path('back_on.jpg'));
}

div#loading_outer {
  position: absolute;
  width: 100%;
  background-color: #000000;
  height: 100%;
  z-index: 100;
}

div#loading_inner {
  position: relative;
  width: 650px;
  height: 22px;
  margin: -11px auto 0px auto;
  top: 50%;
}

div#loading_bar {
  float: left;
  height: 100%;
  background-color: #FFFFFF;
  width: 0px;
}

div#underwear_image {
  position: relative;
  height: 640px;
  width: 900px;
  margin: -320px auto 0px auto;
  background: #000000;
  top: 50%;
}

div#commercials {
  position: relative;
  height: 450px;
  width: 900px;
  margin: -225px auto 0px auto;
  background: #000000;
  top: 50%;
}


div#links {
  position: absolute;
  top: -75px;
  left: 5px;
  height: 400px;
  width: 200px;
}

div#links img {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
}

div#web_video {
  position: absolute;
  width: 700px;
  height: 394px;
  top: 0px;
  left: 250px;
  background: #000000;
}

div#ipad_video {
  position: absolute;
  width: 700px;
  height: 394px;
  top: 40px;
  left: 250px;
  background: #000000;
}

div#preloader {
  position: absolute;
  width: 650px;
  height: 350px;
  top: 0px;
  left: 250px;
}

div#preloader_inner {
  position: relative;
  height: 15px;
  width: 200px;
  margin: -7px auto 0px auto;
  top: 50%;
  background-image: url(image_path('preloader.png'));
}

div#buttons_outer {
  position: absolute;
  width: 650px;
  height: 75px;
  top: 395px;
  left: 250px;
}

div#buttons_inner {
  position: relative;
  height: 76px;
  width: 295px;
  top: 50%;
  margin: -38px auto 0px auto;
}

div#buttons_inner div.button {
  position: relative;
  display: inline;
  float: left;
  width: 56px;
  height: 75px;
  margin: 0px 3px 0px 0px;
  overflow: hidden;
  font-size: 10px;
  cursor:pointer;
}
