.hidden-images img {
  display: none;
}

#main,
#meta_black,
#commercials_link,
#japanese_outer,
#japanese_inner,
#contact_outer,
#contact_inner_text,
#contact_inner,
#back_outer,
#back_inner,
#loading_outer,
#links,
#web_video,
#ipad_video,
#preloader,
#buttons_outer,
#underwear_link {
  position: absolute
}

#main {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 450px;
}

#meta_black {
  top: 0px;
  left: 0px;
  width: 350px;
  color: #000000;
  z-index: 100;
}

#main_left {
  position: relative;
  display: inline;
  width: 50%;
  height: 100%;
  float: left;
  min-height: 400px;
}

#main_right {
  position: relative;
  display: inline;
  width: 50%;
  height: 100%;
  float: left;
  min-height: 400px;
}

#commercials_link {
  right: 0px;
  top: 50%;
  height: 50px;
  width: 280px;
  margin: -25px 0px 0px 0px;
  cursor:pointer;
  background-image: url(image_path('commercials_b_off.png'));
}

#commercials_link:hover {
  background-image: url(image_path('commercials_b_on.png'));
}

#underwear_link {
  left: 0px;
  top: 50%;
  height: 50px;
  width: 280px;
  margin: -25px 0px 0px 0px;
  cursor:pointer;
  background-image: url(image_path('underwear_b_off.png'));
}

#underwear_link:hover {
  background-image: url(image_path('underwear_b_on.png'));
}

#japanese_outer {
  width: 100%;
  height: 150px;
  top: 0px;
  left: 0px;
  min-width: inherit;
}

#japanese_inner {
  top: 25px;
  right: 20px;
  height: 47px;
  width: 233px;
  background-image: url(image_path('japanese2.png'));
}

#contact_outer {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 310px;
  min-height: inherit;
}

#contact_inner {
  bottom: 0px;
  left: 20px;
  height: 180px;
  width: 95px;
  background-color: #000000;
  background-image: url(image_path('contact_off.jpg'));
}

#contact_inner_text {
  bottom: 120px;
  left: 125px;
  height: 25px;
  width: 150px;
  background-color: #000000;
   display: none;
  cursor:pointer;
}

#contact_inner_text a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
}

#back_outer {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 150px;
  min-height: inherit;
}

#back_inner {
  bottom: 0px;
  right: 20px;
  height: 100px;
  width: 100px;
  background-image: url(image_path('back_off.jpg'));
}

#back_inner:hover {
  background-image: url(image_path('back_on.jpg'));
}

#loading_outer {
  width: 100%;
  background-color: #000000;
  height: 100%;
  z-index: 100;
}

#loading_inner {
  position: relative;
  width: 650px;
  height: 22px;
  margin: -11px auto 0px auto;
  top: 50%;
}

#loading_bar {
  float: left;
  height: 100%;
  background-color: #FFFFFF;
  width: 0px;
}

#underwear_image {
  position: relative;
  height: 640px;
  width: 900px;
  margin: -320px auto 0px auto;
  background: #000000;
  top: 50%;
}

#commercials {
  position: relative;
  height: 450px;
  width: 900px;
  margin: -225px auto 0px auto;
  background: #000000;
  top: 50%;
}


#links {
  top: -75px;
  left: 5px;
  height: 400px;
  width: 200px;
}

#links img {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
}

#web_video {
  width: 700px;
  height: 394px;
  top: 0px;
  left: 250px;
  background: #000000;
}

#ipad_video {
  width: 700px;
  height: 394px;
  top: 40px;
  left: 250px;
  background: #000000;
}

#preloader {
  width: 650px;
  height: 350px;
  top: 0px;
  left: 250px;
}

#preloader_inner {
  position: relative;
  height: 15px;
  width: 200px;
  margin: -7px auto 0px auto;
  top: 50%;
  background-image: url(image_path('preloader.png'));
}

#buttons_outer {
  width: 650px;
  height: 75px;
  top: 395px;
  left: 250px;
}

#buttons_inner {
  position: relative;
  height: 76px;
  width: 295px;
  top: 50%;
  margin: -38px auto 0px auto;
}

#buttons_inner .button {
  position: relative;
  display: inline;
  float: left;
  width: 56px;
  height: 75px;
  margin: 0px 3px 0px 0px;
  overflow: hidden;
  font-size: 10px;
  cursor:pointer;
}
