.hidden-images img {
  display: none;
}

#meta_black,
#japanese-outer,
#japanese-inner,
#contact-outer,
#contact-inner-text,
#contact-inner,
#back-outer,
#back-inner,
#links,
#web_video,
#ipad_video,
#preloader,
#buttons_outer {
  position: absolute
}

#loading-outer {
  position: fixed;
}

.mobile {
  display: none;
  vertical-align: middle;
  height: 100%;
  text-align: center;

  img {
    display: inline-block;
    &.home {
      margin-top: -20px;
    }
  }
}

.desktop {
  display: table-row;
  width: 100%;
  height: 100%;
}

#main-outer {
  width: 100%;
  height: 100%;
  display: table;
}

#main-inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

#meta_black {
  top: 0px;
  left: 0px;
  color: #000000;
  z-index: 100;
}

#main-left, #main-right {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 100%;
  position: relative;
}

#commercials-link {
  cursor:pointer;

  .dumb-background-image {
    width: 208px;
    height: 23px;
    background-image: url(image_path('commercials_b_off.png'));
    float: right;
    margin-right: 40px;

    &:hover { background-image: url(image_path('commercials_b_on.png')); }
  }
}

#underwear-link {
  cursor:pointer;

  .dumb-background-image {
    width: 208px;
    height: 23px;
    margin-left: 40px;
    background-image: url(image_path('underwear_b_off.png'));
    float: left;

    &:hover { background-image: url(image_path('underwear_b_on.png')); }
  }
}

#japanese-outer {
  top: 20px;
  right: 20px;
}

#contact {
  position: absolute;
  bottom: 0px;
  left: 0px;

  img { float: left; }

  .telephone {
    width: 122px;
    height: 180px;
  }

  .email-address {
    display: none;
    margin-top: 48px;
  }

  &:hover {
    .email-address {
      display: block;
    }
  }
}

#back-outer {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 150px;
  min-height: inherit;
  z-index: 1;
}

#back-inner {
  bottom: 0px;
  right: 20px;
  height: 100px;
  width: 100px;
  background-image: url(image_path('back_off.jpg'));

  &:hover {
    background-image: url(image_path('back_on.jpg'));
  }
}

#loading-outer {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  z-index: 100;
}

#loading-inner {
  position: relative;
  width: 650px;
  height: 22px;
  margin: -11px auto 0px auto;
  top: 50%;
}

#loading-bar {
  float: left;
  height: 100%;
  background-color: #FFFFFF;
  width: 0px;
}

#underwear-image {
  width: 900px;
  margin: 0px auto;
}

#commercials {
  position: relative;
  height: 450px;
  width: 900px;
  margin: -225px auto 0px auto;
  background: #000000;
  top: 50%;
}


#links {
  top: -75px;
  left: 5px;
  height: 400px;
  width: 200px;
}

#links img {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
}

#web_video {
  width: 700px;
  height: 394px;
  top: 0px;
  left: 250px;
  background: #000000;
}

#ipad_video {
  width: 700px;
  height: 394px;
  top: 40px;
  left: 250px;
  background: #000000;
}

#preloader {
  width: 650px;
  height: 350px;
  top: 0px;
  left: 250px;
}

#preloader_inner {
  position: relative;
  height: 15px;
  width: 200px;
  margin: -7px auto 0px auto;
  top: 50%;
  background-image: url(image_path('preloader.png'));
}

#buttons_outer {
  width: 650px;
  height: 75px;
  top: 395px;
  left: 250px;
}

#buttons_inner {
  position: relative;
  height: 76px;
  width: 295px;
  top: 50%;
  margin: -38px auto 0px auto;
}

#buttons_inner .button {
  position: relative;
  display: inline;
  float: left;
  width: 56px;
  height: 75px;
  margin: 0px 3px 0px 0px;
  overflow: hidden;
  font-size: 10px;
  cursor:pointer;
}

// tablet
@media screen and (max-device-width: 768px) {
  #underwear-link {
    .dumb-background-image {
      margin-left: 20px;
      width: 160px;
      height: 18px;
      background-size: 100%;
    }
  }

  #commercials-link {
    .dumb-background-image {
      margin-left: 20px;
      width: 160px;
      height: 18px;
      background-size: 100%;
    }
  }

  #contact {
    left: 20px;
    .telephone {
      width: 94px;
      height: 139px;
    }
    .email-address {
      width: 140px;
      height: 17px;
      margin-top: 40px;
    }
  }

  #japanese-outer {
    img {
      width: 190px;
      height: 38px;
    }
  }

  #underwear-image {
    width: 100%;
    img {
      width: 90%;
      margin: 0px auto;
    }
  }
}

#commercials-container {
  position: relative;
  z-index: 2;
}

// phone
@media screen and (max-width: 320px) {
  .mobile {
    display: table-cell;
    width: 100%;
    &.commercials, &.underwear {
      display: block;
      padding: 0px 0px;
    }
  }
  .desktop { display: none; }
  #japanese-outer { display: none !important; }
  #contact-inner {
    left: 0px;
    background-size: 100%;
    width: 161px;
    height: 100px;
  }
  #commercials-container {
    display: none;
    height: 100% !important;
    &.show { display: block; }
  }
  #back-outer { display: none !important; }
  .project.small {
    &:first-child { padding-top: 30px; }
    &:last-child { padding-bottom: 30px; }

    padding: 6px 0px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
  }
  .underwear  {
    img { width: 100%; }
  }
  #contact-inner-text {
    width: auto;
    left: 80px;
    bottom: 50px;
  }
}

