<% content_for :title do %>
  HAROLD EINSTEIN - UNDERWEAR
<% end %>

<div id="main-outer" style="">
  <div class="mobile underwear">
    <%= image_tag "underwear_mobile.jpg" %>
  </div>
  <div class="desktop underwear">
    <div id="main-inner">
      <div id="underwear-image">
        <%= image_tag "underwear.jpg" %>
      </div>
    </div>
  </div>
</div>

<div id="back-outer">
  <a href="/">
    <div id="back-inner" style="cursor:pointer;">
    </div>
  </a>
</div>

<div id="loading-outer">
  <div id="loading-inner">
    <div id="loading-bar">
    </div>
  </div>
</div>
