<div id="main" style="">
  <div id="underwear_image">
    <%= image_tag "underwear.jpg" %>
  </div>
</div>

<div id="back_outer">
  <a href="/">
    <div id="back_inner" style="cursor:pointer;">
    </div>
  </a>
</div>

<div id="loading_outer">
  <div id="loading_inner">
    <div id="loading_bar">
    </div>
  </div>
</div>
